<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<div id="uw-top-menus" class="uw-is-visible uw-horizontal" aria-hidden="false">
		<div class="uw-main-nav">
		<nav class="uw-nav-menu uw-nav-menu-reverse" aria-label="Main Menu">
	
			<ul id="uw-main-nav" style="max-width:75em;">
				{% for item in site.data.navigation %}
				{% if page.url == item.link %}
				<li class="current-menu-item">
					<a style="text-decoration: none;" href="{{ item.link }}">{{ item.name }}</a>
				</li>
				{% else %}
				<li class="menu-item">
					<a style="text-decoration: none;" href="{{ item.link }}">{{ item.name }}</a>
				</li>
				{% endif %}
				{% endfor %}
			</ul>
		</nav>
		
		</div>
	</div>
</body>
</html>
